/* ---------  GLOBAL  --------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Inria Serif;
    
}

body{
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    min-height: 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* ---------  styling for dark and light mode  --------- */

body.active{
    background: white;
    color: black;
}
/* ---------  stylling the container  --------- */

.container{
    display: flex;
    margin: 0;
    padding: 8px;
    animation: appear 1s ease-in-out backwards;
}

/* ---------  styling for light and dark  --------- */

.light{
    height: 60px;
    width: 60px;
    border-radius: 12px;
    background-color: #1B212B;
    color: white;
    margin: 5px 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light i{
    font-size: 25px;
}
/* ---------  NAVBAR --------- */

/* ---------  styling for navbar component  --------- */

.collection{
    background-color: #1B212B;
    width: 60px;
    height: 450px;
    margin: 30px 5px 5px 5px;
    border-radius: 12px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;
}

.collection p{
    text-align: center;
    font-size: 15px;
    margin-top: 6px;
}

.collection i{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-top: 20px;
}

/* ---------  PROFILE  --------- */
/* ---------  styling profile containner  --------- */

.profile{
    background-color: #161b22;
    min-height: 700px;
    width: 350px;
    border-radius: 12px;
    margin: 5px 5px 5px 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    padding-bottom: 20px;
    gap: 10px;
}

.profile #background{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
    height: 300px;
    width: 90%;
    opacity: 0.35;
    object-fit: cover;
    
    margin: 20px 0 0 0;
    padding: 5px;
}

.profile .my_img img{
    border: 8px solid #0D1117;
    height: 140px;
    width: 140px;
    border-radius: 12px;
    position: relative;
    margin-top: -75px;
    margin-bottom: 10px;
}

.profile p{
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px;
}

.profile * {
    position: relative;
}

/* ---------  SOCIAL MEDIA  --------- */
/* ---------  stylling socila media icons --------- */

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: auto;
    
    padding-bottom: 20px;
    gap: 20px;
}

.social i{
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

/* ---------  adding hovering effect for hovering transition  --------- */

.collection div:hover{
    color: #00BFFF;
    transition: 0.3s;
    cursor: pointer;
}

.light i:hover{
    color: #00BFFF;
    transition: 0.3s;
    transform: rotate(360deg) scale(1.2);
    cursor: pointer;
}

.profile p:hover{
    color: #00BFFF;
    transition: 0.3s;
    cursor: pointer;
}

.social i:hover{
    color: #00BFFF;
    transition: 0.3s;
    cursor: pointer;
}

.social a:hover{
    color: #00BFFF;
    transition: 0.3s;
    cursor: pointer;
}
/* ---------  adding media qurry for responsive --------- */

@media(max-width: 480px){
    .navbar{
        display: flex;
    }
    .light{
        height: 60px;
        margin: 5px 5px 5px 5px;
    }

    .collection{
        flex-direction: row;
        width: 100%;
        height: 60px;
        margin: 5px 0px 5px 5px;
       
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .collection i{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .collection p{
        font-size: 12px;
        margin-top: 0px;
        padding-left: 20px;
    }

    .container{
        flex-direction: column;
        margin: 0;
        padding: 5px;
    }

    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 15px 20px 15px;
    }

    .profile #background{
        width: 100%;
        height: 260px;
        object-fit: cover;
        opacity: 0.2;
        border-radius: 12px 12px  0 0;
        margin:  0;
    }

    .profile .my_img img{
        margin-top: -60px;
    }

    .profile p{
        position: relative;
        margin-top: 15px;
        
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .social {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 40px;
    }
}

/* ---------  animation --------- */

@keyframes appear{
    from{
        opacity: 0;
        transform: translateY(80px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
