* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(12, 12, 29);
  color: white;
  font-family: "Roboto", sans-serif;
}

/* utility section */
.color {
    color: rgb(154, 87, 218);
}

#element {
  color: rgb(154, 87, 218); 
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: rgb(45, 45, 214);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

nav ul li a:hover {
  color: rgb(24, 15, 41);
  font-size: 1.2rem;
}

.left {
  font-size: 2rem;
}

/* dp */
.dp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.dp img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


/* first section */
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}

.firstSection > div {
  width: 30%;
}

.leftSection {
  width: 400px;
  font-size: 3rem;
  margin: 100px 0;
}
.rightSection img {
  width: 40rem;
  height: 40rem;
}

.leftSection div {
  font-size: 1.5rem;
  margin: 20px 40px;
  display: flex;
}

/* line */
main hr {
  border: 0;
  background: rgb(154, 87, 218);
  height: 1px;
  margin: 40px 84px;
}

/* Second Section */
.secondSection {
  display: flex;
  background-color: rgb(45, 45, 214);
  justify-content: space-around;
  margin: 30px 0;
  height: 60px;
  align-items: center;
}
